<ion-header [translucent]="true">
  <ion-toolbar color="dev-opts">
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <h2 slot="end" *ngIf="receiverUser">{{receiverUser.name}}</h2>
    <ion-buttons slot="end">
      <ion-avatar color="dev-opts">
        <ion-img src="../../../assets/images/{{receiverUser.avatar}}" *ngIf="receiverUser" alt="user"/>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid *ngFor="let msj of messages">
    <ion-row [ngClass]="(msj.senderId && msj.senderId === senderUser?.userId) ?
             'ion-justify-content-end' : 'ion-justify-content-start'">
      <ion-col size="7">
        <ion-card [ngClass]="(msj.senderId && msj.senderId === senderUser?.userId) ?
             'sender' : 'receiver'">
          {{msj.message}}
          <span class="date">
            {{msj.dateMessage?.toDate() | date:'mediumTime'}}
          </span>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p #target></p>

</ion-content>

<ion-footer [translucent]="true">

  <form #message="ngForm" (ngSubmit)="sendMessage(target)" color="dev-opts">

      <ion-toolbar id="container" color="dev-opts">
        <ion-label id="box-msj">
          <ion-input name="message"
                        color="dev-opts"
                        label=""
                        fill="outline"
                        placeholder="Ingrese Mensaje"
                        [(ngModel)]="chat"></ion-input>
        </ion-label>
        <ion-button type="submit" color="dev-opts" slot="end" [disabled]="message.invalid">
          <ion-icon class="size" name="paper-plane"></ion-icon>
        </ion-button>
      </ion-toolbar>

  </form>

</ion-footer>
