<ion-header [translucent]="true">
  <ion-toolbar color="dev-opts">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h2 slot="end" *ngIf="user">{{user.name}}</h2>
    <ion-buttons slot="end">
      <ion-avatar color="dev-opts">
        <ion-img src="../../../assets/images/{{user.avatar}}" *ngIf="user" alt="user"/>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="dev-opts">
    <ion-searchbar showCancelButton="focus" class="custom" color="medium" placeholder="Buscar" (ionInput)="searchUser($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="user" *ngFor="let item of searchResult" (click)="getChat(item.userId)">
      <ion-buttons>
        <ion-avatar>
          <ion-img src="../../../assets/images/{{item.avatar}}" *ngIf="item" alt="user"/>
        </ion-avatar>
      </ion-buttons>
      <ion-label>
        <h2>{{item.name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
