<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form="ngForm" class="form" (ngSubmit)="postUser()" color="dev-opts">
    <ion-img src="../assets/icon/DOB.png"/>
    <ion-avatar id="open-modal">
      <ion-icon name="person-add" *ngIf="newUser.avatar === 'absent.png'"></ion-icon>
      <ion-img src="../assets/images/{{newUser.avatar}}" *ngIf="newUser.avatar !== 'absent.png'"></ion-img>
    </ion-avatar>
    <ion-item color="dev-opts">
      <ion-input type="text"
                 name="username"
                 color="dev-opts"
                 label="Nombre de Usuario"
                 label-placement="floating"
                 fill="outline"
                 placeholder="Ingrese Usuario"
                 required="true"
                 pattern="^[a-zA-Z0-9]{4,16}$"
                 [(ngModel)]="newUser.username">
      </ion-input>
    </ion-item>

    <ion-item color="dev-opts">
      <ion-input type="text"
                 name="name"
                 color="dev-opts"
                 label="Nombre:"
                 label-placement="floating"
                 fill="outline"
                 placeholder="Ingrese Nombre"
                 required="true"
                 [(ngModel)]="newUser.name">
      </ion-input>
    </ion-item>

    <ion-item color="dev-opts">
      <ion-input type="password"
                 name="password1"
                 color="dev-opts"
                 label="Contraseña"
                 label-placement="floating"
                 fill="outline"
                 placeholder="Ingrese Contraseña"
                 required="true"
                 pattern="^[a-z0-9]{4,16}$"
                 [(ngModel)]="password.pass1">
      </ion-input>
    </ion-item>

    <ion-item color="dev-opts">
      <ion-input type="password"
                 name="password2"
                 color="dev-opts"
                 label="Confirme Contraseña"
                 label-placement="floating"
                 fill="outline"
                 placeholder="Ingrese Contraseña"
                 required="true"
                 pattern="^[a-z0-9]{4,16}$"
                 [(ngModel)]="password.pass2">
      </ion-input>
    </ion-item>

    <ion-label>
      <p class="register" *ngIf="invalidPassword">* Contraseñas no coinciden</p>
      <p class="register" *ngIf="invalidUser">* Usuario ya registrado</p>
    </ion-label>

    <ion-button class="btn-submit" type="submit" color="dev-opts" [disabled]="form.invalid">
      Registrar
    </ion-button>

  </form>

</ion-content>

<app-avatars (avatarResponse)="addAvatar($event)"></app-avatars>
