
//////////////////// Login /////////////////////////////

* {
  padding: 0;
}

ion-content, ion-toolbar {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  --background: #212428;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(#212428, .7);
}

ion-item {
  color: var(--ion-color-dev-opts);
  padding: .5rem;
  width: 90%;
}

ion-img {
  object-fit: fill;
  width: 10rem;
}

ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: var(--ion-color-dev-opts);
  cursor: pointer;
  &:active {
    font-size: 50px;
  }
}

ion-input {
  margin: 1rem 1rem 1rem 0;
  text-align: center;
}

.btn-submit {
  width: 50%;
  height: 50px;
  border-radius: 1.5rem;
  margin: 50px 0 0 0;
  color: #fd4520;
}

.register {
  margin: 10px 0 -30px;
  font-weight: bold;
  color: #fd4520;
}



