<ion-header [translucent]="true">
  <ion-toolbar color="dev-opts">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form="ngForm" class="form" (ngSubmit)="updateUser()" color="dev-opts">
    <ion-img src="../assets/icon/DOB.png"/>
    <ion-avatar id="open-modal">
      <ion-icon name="person-add" *ngIf="user.avatar === 'absent.png'"></ion-icon>
      <ion-img src="../assets/images/{{user.avatar}}" *ngIf="user.avatar !== 'absent.png'"></ion-img>
    </ion-avatar>
    <ion-item color="dev-opts">
      <ion-input type="text"
                 name="name"
                 color="dev-opts"
                 label="Nombre del Usuario"
                 label-placement="floating"
                 fill="outline"
                 placeholder="Ingrese Nombre"
                 required="true"
                 [(ngModel)]="user.name">
      </ion-input>
    </ion-item>

    <ion-label>
      <p class="update" *ngIf="userUpdate">* Usuario Actualizado</p>
    </ion-label>

    <ion-button class="btn-submit" type="submit" color="dev-opts" [disabled]="form.invalid">
      Actualizar
    </ion-button>

  </form>

</ion-content>

<app-avatars (avatarResponse)="newAvatar($event)"></app-avatars>
