//////////////////// Login ///////////////////////////////////////

* {
  padding: 0;
  margin: 0;
}

ion-content {
  --background: #212428;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  margin: auto;
  width: 25rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(#212428, .7);
}

ion-item {
  color: var(--ion-color-dev-opts);
  padding: .5rem;
  width: 80%;
}

ion-img {
  object-fit: fill;
  width: 10rem;
}

ion-input {
  margin: 1rem 1rem 1rem 0;
  text-align: center;
}

.btn-submit {
  width: 50%;
  height: 50px;
  border-radius: 1.5rem;
  margin: 50px 0;
  color: #fd4520;
}

.register {
  color: #fd4520;
}

.invalid {
  margin: 10px 0 -30px;
  font-weight: bold;
  color: #fd4520;
}
