<ion-header [translucent]="true">
  <ion-toolbar color="dev-opts">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large" class="header">
      <h1 class="title"><b class="t-color-1">DevOpts</b>&nbsp;<b class="t-color-2">Balcony</b></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <button ion-button class="btn" (click)="login()">Login</button>
  </div>
</ion-content>
